<div id="<%= dom_id transaction %>">
  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= transaction.type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

  <p>
    <strong>Customer email:</strong>
    <%= transaction.customer_email %>
  </p>

  <p>
    <strong>Customer phone:</strong>
    <%= transaction.customer_phone %>
  </p>

</div>
